<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SiteController</display-name>
    <servlet-name>SiteController</servlet-name>
    <servlet-class>servlets.SiteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteController</servlet-name>
    <url-pattern>/SiteController</url-pattern>
  </servlet-mapping>
  <display-name>Sessions DemoApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberAreaController</display-name>
    <servlet-name>MemberAreaController</servlet-name>
    <servlet-class>servlets.MemberAreaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberAreaController</servlet-name>
    <url-pattern>/MemberAreaController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MemberAreaFilter</display-name>
    <filter-name>MemberAreaFilter</filter-name>
    <filter-class>filters.MemberAreaFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberAreaFilter</filter-name>
    <url-pattern>/MemberAreaFilter</url-pattern>
  </filter-mapping>
</web-app>